h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 0 20px 0;
}

h2 span {
    color: #68cd86;
    font-size: 1.5em;
    border-bottom: 1px solid #68cd86;
}